<ion-view title="ForgotPassword" id="page3">
  <ion-content overflow-scroll="true" padding="true" class="has-header has-footer">
    <div class="spacer" style="width: 285px; height: 180px;"></div>
    <ion-spinner icon="bubbles" class="spinner-balanced" ng-show="loading" style="position: absolute;left: 50%;top: 50%;z-index: 100;"></ion-spinner>
    <form class="list">
      <label class="item item-input" name="email">
        <input type="email" placeholder="Enter Email" ng-model="forgotPass.email">
      </label>
      <button id="forgotPassword-button11" class="button button-balanced  button-block button-outline" ng-click="sendEmail()" ng-disabled="loading">Send Email</button>
    </form>
  </ion-content>
</ion-view>
