<ion-view>
  <ion-header-bar>
    <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()">
    </button>
    <h1 class="title">Retailers</h1>
    <button class="button button-clear button-positive"
            ng-click="data.showDelete = false; data.showReorder = !data.showReorder"></button>
    <button class="button button-clear button-positive" ng-click="addRetailer()">
      <i class="icon ion-plus-round"></i>Add
    </button>
  </ion-header-bar>
  <ion-content overflow-scroll="true" padding="true">

    <ion-spinner icon="bubbles" class="spinner-balanced" ng-show="loading"
                 style="position: absolute;left: 130px;top: 180px;z-index: 100;"></ion-spinner>
    <ion-item ng-repeat="item in items" item="item" ng-click="showActionsheet(item,$index)">
      <span> {{ item.name }} </span><br><span>{{item.address}}</span>
    </ion-item>
  </ion-content>
</ion-view>
