<ion-view>
  <ion-side-menus>
    <ion-side-menu-content>
      <ion-nav-view></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
      <ion-header-bar class="bar-stable">
        <h1 class="title">Left</h1>
      </ion-header-bar>
      <ion-content>
        <ion-list>
          <ion-item menu-close href="#/dashboard/retailers">
            Retailers
          </ion-item>
          <ion-item menu-close href="#/dashboard/orders">
            Orders
          </ion-item>
          <ion-item menu-close href="">
            Settings
          </ion-item>
          <ion-item menu-close ng-click="logout()">
            Logout
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-side-menu>
  </ion-side-menus>

  <!-- <div style="width: 285px; height: 147px;" class="spacer"></div> -->

  <!-- <form style="" class="list" name="loginForm" ng-submit="login()">
    <label style="" name="email" class="item item-input">
      <input placeholder="Email" type="email">
    </label>
    <label style="" name="password" class="item item-input">
      <input placeholder="Password" type="password">
    </label>
    <button style="" class="button button-balanced button-block  button-full">Login</button>
    <a style="" class="button button-positive button-clear button-block button-small" type="submit">Forgot Password</a>
  </form> -->
  <!--         <ion-header-bar class="bar-positive">
        <div class="buttons">
          <button class="button button-icon icon ion-ios-minus-outline"
            ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></button>
        </div>
        <h1 class="title">Ionic Delete/Option Buttons</h1>
        <div class="buttons">
          <button class="button" ng-click="data.showDelete = false; data.showReorder = !data.showReorder">
              Reorder
          </button>
        </div>
      </ion-header-bar> -->
  <!-- <ion-list show-delete="data.showDelete" show-reorder="data.showReorder"> -->
  <!-- item="item"
                    href="#/item/{{item.id}}"
                    niche he -->

  <!--       <ion-header-bar class="bar-positive">
        <div class="buttons">
          <button class="button button-icon icon ion-ios-minus-outline"
            ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></button>
        </div>
        <h1 class="title">Ionic Delete/Option Buttons</h1>
        <div class="buttons">
          <button class="button" ng-click="data.showDelete = false; data.showReorder = !data.showReorder">
              Reorder
          </button>
        </div>
      </ion-header-bar> -->

  <!-- <ion-content> -->

  <!-- The list directive is great, but be sure to also checkout the collection repeat directive when scrolling through large lists -->
  <!-- <script id="templates/menu.html" type="text/ng-template" ng-controller="dashboardController"> -->

  <!-- </script> -->
  <!-- </ion-content> -->
</ion-view>
<!--       <ion-view>
        <ion-tabs class="tabs-icon-top tabs-positive">

          <ion-tab title="Home" icon="ion-home" href="#/tab/home">
            <ion-nav-view name="home-tab"></ion-nav-view>
          </ion-tab>

          <ion-tab title="About" icon="ion-ios-information" href="#/tab/about">
            <ion-nav-view name="about-tab"></ion-nav-view>
          </ion-tab>

          <ion-tab title="Sign-Out" icon="ion-log-out" href="#/sign-in">
          </ion-tab>

        </ion-tabs>
      </ion-view> -->
<!--  <script id="templates/addRetailer.html" type="text/ng-template">
 <ion-modal-view>
   <ion-header-bar class="bar bar-header bar-positive">
     <h1 class="title">Retailer Details</h1>
     // <button class="button button-clear button-primary" ng-click="onItemDelete(item)">Delete</button>
   </ion-header-bar>
   <ion-content >
     <form style="" class="list" name="retailerForm" ng-submit="addRetailer()">
       <label style="" name="name" class="item item-input">
         <input placeholder="Name" type="text" ng-model="retailerForm.name">
       </label>
       <label style="" name="password" class="item item-input">
         <input placeholder="Password" type="password" ng-model="userLogin.password">
       </label>
       <button style="" class="button button-balanced button-block  button-full">Login</button>
       <a style="" class="button button-positive button-clear button-block button-small" type="submit">Forgot Password</a>
     </form>
   </ion-content>
 </ion-modal-view>
</script>
-->
