
<ion-view style="" title="Login">
  <ion-content class="has-header has-footer" overflow-scroll="true" padding="true">
    <div style="width: 285px; height: 147px;" class="spacer"></div>
    <ion-spinner icon="bubbles" class="spinner-balanced" ng-show="loading" style="position: absolute;left: 50%;top: 50%;z-index: 100;"></ion-spinner>
    <form style="" class="list" name="loginForm" ng-submit="login()">
      <label style="" name="email" class="item item-input">
        <input placeholder="Email" type="email" ng-model="userLogin.email">
      </label>
      <label style="" name="password" class="item item-input">
        <input placeholder="Password" type="password" ng-model="userLogin.password">
      </label>
      <button style="" class="button button-balanced  button-block icon ion-log-in" ng-disabled="loading"></button>
      <a style="" class="button button-assertive button-small button-block button-clear" type="submit" href="#/forgot">Forgot
        Password?</a>
    </form>
  </ion-content>
</ion-view>
