<ion-view>
  <ion-header-bar>
    <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()">
    </button>
    <h1 class="title">Orders</h1>
  </ion-header-bar>
  <ion-content overflow-scroll="true" padding="true">
    <ion-spinner icon="bubbles" class="spinner-balanced" ng-show="loading"
                 style="position: absolute;left: 130px;top: 180px;z-index: 100;"></ion-spinner>
    <ion-item ng-repeat="order in salesmanOrders" item="order">
      <span>{{temp[order.$id].name}}</span>
      <br>
      <span> {{ order.orderedItems.length }} </span>
      <br>
      <span>{{order.totalPrice}}</span>
    </ion-item>
  </ion-content>
</ion-view>
