<ion-view id="fst-abstract.html" type="text/ng-template">
  <ion-side-menus>
    <ion-side-menu-content ng-controller="NavController">

      <ion-nav-bar class="bar-energized nav-title-slide-ios7">
        <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i></ion-nav-back-button>
      </ion-nav-bar>
      <ion-nav-view name="fst" animation="slide-left-right"></ion-nav-view>

    </ion-side-menu-content>
    <ion-side-menu side="left" ng-controller="NavController">

      <ion-header-bar class="bar bar-header bar-assertive">
        <h1 class="title">First Section Left Menu</h1>
      </ion-header-bar>
      <ion-content has-header="true">
        <ul class="list">
          <a ui-sref="fst.first" class="item" ng-click="toggleLeft()">Single: First</a>
          <a ui-sref="fst.second" class="item" ng-click="toggleLeft()">Single: Second</a>
        </ul>
      </ion-content>

    </ion-side-menu>
  </ion-side-menus>

</ion-view>
