<ion-view style="" title="Main">
  <ion-content class="has-header has-footer" overflow-scroll="true" padding="true">
    <div style="width: 285px; height: 147px;" class="spacer"></div>
    hello
    <!-- <form style="" class="list">
       <label style="" name="email" class="item item-input">
         <input placeholder="Email" type="email">
       </label>
       <label style="" name="password" class="item item-input">
         <input placeholder="Password" type="password">
       </label>
       <button style="" class="button button-balanced button-block  button-full">Login</button>
       <a style="" class="button button-positive button-clear button-block button-small" onclick="window.open('/', '_system', 'location=yes'); return false;" href="#">Forgot Password</a>
     </form>-->
  </ion-content>
</ion-view>
