<ion-view title="ResetPassword" id="page4">
  <ion-content overflow-scroll="true" padding="true" class="has-header has-footer">
    <div class="spacer" style="width: 285px; height: 147px;"></div>
    <form class="list">
      <label class="item item-input" name="password">
        <input type="password" placeholder="New Password" ng-model="resetPass.password">
      </label>
      <label class="item item-input" name="cnfrmPass">
        <input type="password" placeholder="Confirm Password" ng-model="resetPass.cnfrmPass">
      </label>
      <button id="resetPassword-button13" class="button button-balanced  button-block button-outline" ng-click="resetPassword()">Reset Password</button>
    </form>
  </ion-content>
</ion-view>
