<ion-view ng-cloak>
  <ion-header-bar class="bar-royal">
    <h1 class="title">Confirm Order</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <!-- <div class="card" ng-repeat = "c in category track by $index" ng-init="cin = c"> -->
      <div class="card" ng-repeat="c in category track by $index" ng-init="cin = c">
        <div class="item item-divider row ">
          <span class="col ">Quantity</span>
          <span class="col ">{{c}}</span>
          <span class="col col-20 ">Rs. <b ng-show="show">{{itemsPrice[$index].price}}</b></span>
        </div>
        <ion-item class="item-button-right row" ng-repeat="item in allItems | filter : cin track by $index" item="item">
          <span class="col">{{ item.name }}</span>
          <span class="col">{{item.quantity}}</span>
          <button class="button button-balance" ng-click="showModal(item,item.id,c)"><i class="ion ion-edit"></i>
          </button>
        </ion-item>
      </div>
    </ion-list>
    <button class="button button-block button-balanced" ng-click="orderConfirmed()">
      <span class="item-note light">Rs.{{getTotalPrice()}}</span><span class="">Add to Cart</span>
    </button>
    <!--  <div class="card">
       <ion-item class="item-button-right">Total Price
         <div class="buttons">
         <span class="item-note padding-right">Rs.{{getTotalPrice()}}</span>
           <button class="button icon">${{getTotalAll()}}</button>
           <button class="button button-balance" ng-click="orderConfirmed()"><i class="ion ion-android-done-all padding-right"></i>Done</button>
         </div>
       </ion-item>
     </div> -->
  </ion-content>
</ion-view>
<script id="templates/modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title">{{item.name}}</h1>
      <button class="button button-clear button-primary" ng-click="onItemDelete(item)">Delete</button>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <div class="button-bar">
          <button class="button button-stable" ng-click="increment()" ng-disabled=" check == false "><i
            class="ion ion-plus-round"></i></button>
          <input class="button button-stable" ng-model="item.quantity" ng-disabled=true/>
          <button class="button button-stable" ng-click="decrement()" ng-disabled="check == false || count <= 1 "><i
            class="ion ion-minus-round"></i></button>
        </div>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        <button class="button  button-positive" ng-click="updateItem(item)">update</button>
      </div>
    </ion-content>
  </ion-modal-view>
</script>
