<ion-view>
  <ion-header-bar>
    <button class="button button-icon ion-chevron-left" ng-click="gotoDashboard()"></button>
    <h1 class="title">{{retailer.name}}</h1>
  </ion-header-bar>
  <ion-content overflow-scroll="true" padding="true">
    <ion-item>
      <p> {{retailer.mobile}}</p>
      <p> {{retailer.address}} </p>
      <div>{{retailer.createdAt | date:'medium'}}</div>
    </ion-item>
  </ion-content>
</ion-view>
