<ion-view style="">
  <ion-header-bar>
    <button class="button button-icon ion-chevron-left" ng-click="gotoDashboard()"></button>
    <h1 class="title">Add Retailer Details</h1>
  </ion-header-bar>
  <ion-content overflow-scroll="true" padding="true">
    <!-- <div style="width: 285px; height: 147px;" class="spacer"></div> -->

    <form style="" class="list" name="UserForm" ng-submit="addUser()">
      <label style="" name="name" class="item item-input">
        <input placeholder="Name" type="text" ng-model="addUserForm.name">
      </label>
      <label style="" name="mobile" class="item item-input">
        <input placeholder="Mobile No" type="text" ng-model="addUserForm.mobile">
      </label>
      <label style="" name="address" class="item item-input">
        <input placeholder="Address" type="text" ng-model="addUserForm.address">
      </label>
      <button style="" class="button button-balanced button-block  button-full">Add Retailer</button>
    </form>
  </ion-content>
</ion-view>
