<!-- <ion-view>
   <ion-tabs class="tabs-icon-top tabs-positive">

     <ion-tab title=" "  href="#/tab/home">
       <ion-nav-view name="home-tab"></ion-nav-view>
     </ion-tab>

     <ion-tab title="About" icon="ion-ios-information" href="#/tab/about">
       <ion-nav-view name="about-tab"></ion-nav-view>
     </ion-tab>

     <ion-tab title="Sign-Out" icon="ion-log-out" href="#/sign-in">
     </ion-tab>

   </ion-tabs>
</ion-view> -->
<ion-view>
  <ion-header-bar class="bar-positive">
    <div class="button-bar">
      <button class="button button-stable" ng-click="goBack()"><i class="ion ion-chevron-left"></i></button>
      <button class="button button-stable" ng-click="increment()" ng-disabled=" check == false "><i
        class="ion ion-plus-round"></i></button>
      <input class="button button-stable" ng-model="count" ng-disabled=true />
      <button class="button button-stable" ng-click="decrement()" ng-disabled="check == false || count <= 1 "><i
        class="ion ion-minus-round"></i></button>
      <button class="button button-stable" ng-click="orderNow()"><i class="ion ion-android-done-all"></i></button>
    </div>
  </ion-header-bar>
  <ion-tabs class="tabs-positive">

    <ion-tab title="{{categories[0]}}">


      <ion-content>
        <ion-list>
          <ion-checkbox ng-repeat="item in items[0] | filter :categories[0] track by $index" class="checkbox-positive"
                        type="checkbox" id="{{item.id}}" ng-model="item.checked"
                        ng-change="resetCounter($index , item.category ,item.checked , count, 0)"
                        ng-checked="{{getCheck($index)}}">
            {{ item.name }}
            <span style="float:right" ng-show="item.checked">{{item.quantity}}</span>
          </ion-checkbox>
        </ion-list>
      </ion-content>
    </ion-tab>
    <ion-tab title="{{categories[1]}}">
      <ion-header-bar class="bar-positive">
        <div class="button-bar">
          <button class="button button-stable" ng-click="goBack()"><i class="ion ion-chevron-left"></i></button>
          <button class="button button-stable" ng-click="increment()" ng-disabled=" check == false "><i
            class="ion ion-plus-round"></i></button>
          <input class="button button-stable" ng-model="count" ng-disabled=true />
          <button class="button button-stable" ng-click="decrement()" ng-disabled="check == false || count <= 1 "><i
            class="ion ion-minus-round"></i></button>
          <button class="button button-stable" ng-click="orderNow()"><i class="ion ion-android-done-all"></i></button>
        </div>
      </ion-header-bar>

      <ion-content>
        <ion-list>
          <ion-checkbox ng-repeat="item in items[1] | filter :categories[1] track by $index" class="checkbox-positive"
                        type="checkbox" id="{{item.id}}" ng-model="item.checked"
                        ng-change="resetCounter($index , item.category ,item.checked , count, 1)"
                        ng-checked="{{getCheck($index)}}">
            {{ item.name }}
            <span style="float:right" ng-show="item.checked">{{item.quantity}}</span>
          </ion-checkbox>
        </ion-list>
      </ion-content>
    </ion-tab>
    <ion-tab title="{{categories[2]}}">
      <ion-header-bar class="bar-positive">
        <div class="button-bar">
          <button class="button button-stable" ng-click="goBack()"><i class="ion ion-chevron-left"></i></button>
          <button class="button button-stable" ng-click="increment()" ng-disabled=" check == false "><i
            class="ion ion-plus-round"></i></button>
          <input class="button button-stable" ng-model="count" ng-disabled=true />
          <button class="button button-stable" ng-click="decrement()" ng-disabled="check == false || count <= 1 "><i
            class="ion ion-minus-round"></i></button>
          <button class="button button-stable" ng-click="orderNow()"><i class="ion ion-android-done-all"></i></button>
        </div>
      </ion-header-bar>
      <ion-content>
        <ion-list>
          <ion-checkbox ng-repeat="item in items[2] | filter :categories[2] track by $index" class="checkbox-positive"
                        type="checkbox" id="{{item.id}}" ng-model="item.checked"
                        ng-change="resetCounter($index , item.category ,item.checked , count, 2)"
                        ng-checked="{{getCheck($index)}}">
            {{ item.name }}
            <span style="float:right" ng-show="item.checked">{{item.quantity}}</span>
          </ion-checkbox>
        </ion-list>
      </ion-content>
    </ion-tab>
  </ion-tabs>
</ion-view>
